.box {
    position: absolute;
    top: 45%;
    right: 45%;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 150ms ease;
}
.box:hover{
    background-color: aqua;
    scale: 1.2;
}
